h1{
 
    font-family: 'Bebas Neue', cursive;
     font-display: block;
     color:white;
     font-size: 30px;
     position:relative;
    top: 0%;
    
}
#topnavbase{

  position: absolute;
  top: 60px;
  right: 5%;
}
#topnav {
  position: relative;
  text-align: right;
  text-decoration: none;
  display: inline;
  color: rgb(255, 255, 255);
  float: right;
  margin-top: -90px;
  font-size:  16px;
  padding: 40px 40px 40px 40px;
  transition: 0.25s;  
  overflow: hidden;
  border-radius: 12px;


}
#topnav p{  text-align: center;

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#topnav:hover{
  background-color: white;
  color: black;

  
}
#topnav:hover .DropDownContent a{
      display: block;
     color: black;
} 
.DropDownContent p{
  color: red;
  font-size: 16px;
  font-weight: 300px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.DropDownContent a{
  color:aliceblue;
  text-decoration: none;
  display: block;
  padding: 10px 0px;
  transition: 0.25s;
}
.DropDownContent a:hover{
  background-color: rgb(160, 160, 160);
  color: aliceblue;
}
.DropDownContent{
      display: none;
      overflow-y: scroll;
      height: auto;
      max-height: 290px;
      text-align: center;
}

#topnav:hover .DropDownContent{
  display: block;
}

.DropDownContent input[type=text]{
   padding: 6px;
   margin-top: 10px;
}
body{
    margin-top: 100px;
    font-family: 'Ubuntu', sans-serif;
}

header{

    backdrop-filter: blur(5px);
    padding: 20px;
    background-color: #000000bb;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding-left: 3%;
    padding-top: 0;
    text-align: justify;
    filter: drop-shadow(0px 2px 4px #02020281);
   z-index: 1;
   color: aliceblue;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: 300px;
    }
    .grid-container {
      margin-top: 200px;
        display: grid;
        height: auto;
        grid-row-end: 1;
      grid-column-end: 1;

        grid-template-columns: 1 auto auto;
        gap: 10px;
        border-radius: 10px;
        border: 2px solid #00000073;
        padding: 10px;
      }
      
    .ButtonShowInfoVilla {
        position: relative;
        top: 0;
        display: block;
        background: #0000009f;
        padding: 20px;
        width: auto;
       height: auto;
       min-height: 200px;
       color: aliceblue; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       font-size: 20px; margin-top: 10px;
        filter: drop-shadow(3px 2px 4px #02020281);
        backdrop-filter: blur(20px);
      transition: 00.25s;
        border: 0;
        text-align: center;
        text-decoration: none;
      }
      .ButtonShowInfoVilla:hover{

        background: #8888889f;
       
      }
      #ShowVillaImg{
        align-self: baseline;
        width: 30%;
      
        border-radius: 4px;
        float: left
      }
      .VillaName 
      {
        
        text-transform: uppercase;
      }
      .VillaInfo
      {
        
    
        padding: 20px
        margin-top: -5%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
      }
      #ShowVillaImg{
      
      }
    footer{
       
        display: block;
        border-radius: 10px;
        margin-top: 350px;
        background-color: black;        
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }
    #BackVideo{
  
   
        width: 100%;
   

        border-radius: 27px;
       filter:brightness(60%);
       
     }

     #CanvasVideoBlocker{
      
        width: 100%;
        position:   relative;
     }
    .MainTitle{   
     
         color: rgb(255, 255, 255);
         font-size: 600%;
         font-family: 'Barlow Condensed', sans-serif;
        position: static;
       text-align: center;
         object-position: bottom;
         transform: translateY(-300%);
    }
    .VungMienContainer{
      display: flex;
      flex-direction: column;
    }
    @media only screen and (max-width:1000px)
  {
      .MainTitle{   
        transform: translateY(-160%);
        color: rgb(255, 255, 255);
        font-size: 200%;
        font-family: 'Barlow Condensed', sans-serif;
       position: relative;
      text-align: center;
        
   }
   .grid-container
    {
         margin-top: 50px;
    }
    #topnav{
     padding:  40px 10px 40px 10px;
    }
    #topnavbase{
      right: 40px;
    }
  }