h1{
 
    font-family: 'Bebas Neue', cursive;
     font-display: block;
     color:white;
     font-size: 30px;
     position:relative;
    top: 0%;
    
}

button{
  cursor: auto;

  padding: 0;
border: none;
background: none;
}
#topnavbase{

  position: absolute;
  top: 60px;
  right: 5%;
}
#topnav {
  position: relative;
  text-align: right;
  text-decoration: none;
  display: inline;
  color: rgb(255, 255, 255);
  float: right;
  margin-top: -90px;
  font-size:  16px;
  padding: 40px 40px 40px 40px;
  transition: 0.25s;  
  overflow: hidden;
  border-radius: 12px;
  -webkit-transition: 0.25s;

}
#topnav button{  text-align: center;
margin-top: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  color: white;
  font-size: 15px;
}

#topnav:hover {
  background-color: white;
  color: black;
}
#topnav:hover .DropDownContent a{
      display: block;
     color: black;
     background-color: white;
} 
.DropDownContent p{
  color: red;
  font-size: 16px;
  font-weight: 300px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.DropDownContent a{
  color:aliceblue;
  text-decoration: none;
  
  display: block;
  padding: 10px 0px;
  transition: 0.25s;
  -webkit-transition: 0.25s;
}
.DropDownContent a:hover{
  background-color: rgb(160, 160, 160);
  color: white;
}
.DropDownContent{
      display: none;
      overflow-y: scroll;
      height: auto;
      max-height: 290px;
      text-align: center;
}

#topnav:hover .DropDownContent{
  display: table-cell;
  
}

.DropDownContent input[type=text]{
   padding: 6px;
   margin-top: 10px;
}
body{
    padding-top: 60px;
    font-family: 'Ubuntu', sans-serif;
    background: url(img/Background/BackgrondAlmostWhite.png);

 
}

header{


    padding: 20px;
    background-color: #000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding-left: 3%;
    padding-top: 0;
    text-align: justify;
    filter: drop-shadow(0px 2px 4px #02020281);
    z-index: 1;
   color: aliceblue;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: 300px;
    }
    .grid-container {
    
      margin-top: 200px;
       
        
        gap: 10px;
        height: 500px;
       display:grid;
      
    
       grid-template-columns:  repeat(3, 33%);
        border: 1px solid #cccccc73;
        padding: 10px;
        overflow-y:  auto; 
        overflow-x: hidden;
        backdrop-filter: brightness(90%);
      border-radius: 16px;
      
     

      background-color: #ffffff3a;
      }
      
     .ButtonShowInfoVilla {
      border-radius: 10px;
        position: relative;
        top: 0;
        background-color: rgb(255, 255, 255);
        padding: 20px;
       color: aliceblue; 
       font-family: Times;
       font-size: 20px;
        filter: drop-shadow(3px 2px 4px #0202021e);
        transition: 00.25s;      
        text-decoration: none;
        color: #6d6d6d;
        background-color: #ffffffd3;
 
        height: 451px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    
        border: 1px solid rgba(255, 255, 255, 0.48);
 
        background: rgba(255, 255, 255, 0.22);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(1px);
       
      }
      .ButtonShowInfoVilla:hover{

        background: #8888889f;
       
      }
      #ShowVillaImg{

        align-self: baseline;
        width: 100%;
        height: 60%;
        border-radius: 4px;
        object-fit: cover;
      }
      .VillaName 
      {
        color:#272727;
        text-transform: uppercase;
      }
      .VillaInfo
      {
        display: block;
        padding: 20px;
        margin: -5%;
        font-size: 16px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        
      }
      #ShowVillaImg{
      
      }
    footer{ 
       
        display: block;
        border-radius: 25px;
        margin-top: 350px;
        background-image: url(img/background.jpg);    
      

        text-align: center;
        height: auto;
    }
    #BackVideo{
      background-image: url(img/Background/20220818_143854_0000.png);
        border-radius: 27px;
 
       height: 700px;
       background-attachment: fixed;
       width: 100%;
      object-fit: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      
     }

     #CanvasVideoBlocker{
      
        width: 100%;
        position:   relative;
     }
    .MainTitle{   
     
         color: rgb(255, 255, 255);
         font-size: 600%;
         font-family: 'Barlow Condensed', sans-serif;
        position: static;
       text-align: center;
         object-position: bottom;
         transform: translateY(-300%);
    }
    .VungMienContainer{
      display: flex;
      flex-direction: column;
    }
    .ServiceItem
    {
     
      color: black;
      font-size: 30px;
      font-family: Times, sans-serif;
      background-color: white;
      border: 1px solid rgb(196, 196, 196);
      vertical-align: top;
      display: block;
      transition: 1s;
      border-radius: 16px;

      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
   
      border: 1px solid rgba(255, 255, 255, 0.48);
      /* From https://css.glass */
      background: rgba(255, 255, 255, 0.22);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(1px);
      -webkit-backdrop-filter: blur(1px);
      border: 1px solid rgba(255, 255, 255, 0.48);
      
    }
    #buttonService :hover{ 
     
    }

    .ServiceDes
    {
      font-size: 25px;
      font-family: 'Alumni Sans Pinstripe', sans-serif;
 
    }
    .ServiceItem svg{
      margin-top: -90px;
      vertical-align: top;
      filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.281));
      -webkit-filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.281));
      position: absolute;
      top: 30px;
      left: 33%;
      text-align: center;
    }
    .MainIcon{
      transform: translate(50%,50%);
      fill: white;
    }
    .ServiceGirdShow
    {
      grid-template-columns: repeat(3,16.625%);
      grid-template-rows:repeat(3,500px) ;
      margin-left: auto;
      margin-right: auto;
      gap: 50px;
      width: 100%;
      margin-left: 24%;
    
    }
    .TitleFooterGird{
      color: white;
      font-size: 30px;
      font-family: Times;
      font-weight: 300;
      
    }
    .DesFooterGird{
      font-size: 14px;
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      display: inline;
    }
    .FooterGird{
      text-align: center;
      grid-template-columns: repeat(3,30%);
      gap: 7%;

    }
    .FooterBackdropFiler{
      
      border-radius: 25px;
      backdrop-filter: brightness(10%) blur(10px);
     -webkit-backdrop-filter: brightness(10%) blur(10px);
    }
    .FooterGird a{
      color: aliceblue;
      display: inline;
    }

@media only screen and (max-width:1000px)
  {
      .MainTitle{   
        transform: translateY(-160%);
        color: rgb(255, 255, 255);
        font-size: 200%;
        font-family: 'Barlow Condensed', sans-serif;
       position: relative;
      text-align: center;
    
   }
   .grid-container
    {
         margin-top: 50px;
    }
    #topnav{
     padding:  40px 10px 40px 10px;
    }
    #topnavbase{
      right: 40px;
    }
    .ServiceGirdShow{
      grid-template-columns: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    .ServiceItem{
      margin-left: auto;
      width: 100%;
   
    }
    .grid-container{
      grid-template-columns: 100%;
    }
    .FooterGird{
      grid-template-columns: 100%;
      gap: 0;
      margin-left: auto;
      text-align: center;
    }
    .line{
      display: none;
    }
    #BackVideo{
      width: 100%;
      max-height: 200px;
      background-position:center;
      object-fit:scale-down;
      background-size: cover;
    }
  }
